aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
autopep8
Babel
beautifulsoup4
beniget
bleach
bokeh
Brotli
cached-property
certifi
cffi
charset-normalizer
click
cloudpickle
colorlog
comm
contourpy
cycler
Cython
cytoolz
dask
dask-expr
dask_labextension
debugpy
decorator
defusedxml
distributed
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
frozenlist
fsspec
gast
graphviz
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_proxy
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
line_profiler
llvmlite
locket
lz4
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpi4py
msgpack
multidict
munkres
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numba
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
partd
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
ply
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
pyarrow-hotfix
pycodestyle
pycparser
Pygments
pyparsing
pyperf
PySocks
python-dateutil
python-json-logger
pythran
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
setuptools
simpervisor
six
snakeviz
sniffio
sortedcontainers
soupsieve
stack-data
tblib
terminado
tinycss2
tomli
toolz
tornado
traitlets
transonic
types-python-dateutil
typing-utils
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel==0.44.0
widgetsnbextension
xyzservices
yarl
zict
zipp
zstandard
